.flx{
	clear: both;
}
/*header*/
.mui-bar{
	background-color: rgb(229,133,35);
}
.mui-title{
	color: #FFFFFF;
	font-weight: ;
}

/*content>titleHeader*/
.mui-card{
	margin: 0;
}
.mui-card-header>span>a{
	color: rgb(243,195,147);
}
/*paymoney*/
.mui-table-view-cell{
	padding: 6px 15px;
}
.mui-table-view .mui-media-object{
	line-height: 35px;
	height: 35px;
}
.mui-table-view .mui-media-object.mui-pull-left{
	margin-right: 0px;
}
.mui-media-body{
	line-height: 40px;
	font-size: 17px;
	margin-right: 0px;
}
.mui-media-body>span{
	float: right;
}
input[type=text]{
	line-height: 21px;
    width: 100px;
    height: 20px;
    margin-bottom: 15px;
    padding: 10px 15px;
    -webkit-user-select: text;
    border: none;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
    font-size: 14px;
}

.mui-radio input[type=radio]:before {
	font-size: 15px;
}
.mui-input-row label{
	padding: 0px;
	margin-top: 5px;
	margin-left: -20px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	padding: 0px;
}
.mui-grid-view.mui-grid-9{
	border: none;
}
.mui-radio label{
	font-size:16px;
}
/*按钮*/
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border: none;
}
.mui-grid-view.mui-grid-9 {
	background-color: #FFFFFF;
}
.mui-btn{
	padding: 10px 0;
	margin-top: 30px;
	background-color: darkorange;
	color: #ffffff;
}
